.nav-dropdown {
    background-color: #fff;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}

.nav-dropdown.hidden {
    max-height: none;
}

.nav-mini {
    padding: 10pt;
    display: flex;
    position: absolute;
    top: 10vh;
    right: 0;
    flex-direction: column;
}

.nav-mini > * {
    margin: 10px 0;
}